@import url('https://fonts.googleapis.com/css2?family=Kanchenjunga:wght@400;500;600;700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    animation: fadeIn 1s;
}

.lightMode {
    --left-container-bg: #ffffff;
    --greetings-blue-color: #000066;
    --input-container-input: #a9a9a976;
    --input-container-input-focus: #8a8a8a76;
    --left-data-box-color: #424040;
    --my-date-color: rgba(0, 0, 0, 0.5);
    --right-side-bg-color: #bcbcbc1e;
    --right-containers-bg-color: #a1a0a02b;
    --forecast-box-color: #000000af;
    --highlight-box-color: #000000;
    --inside-info-boxes-right-side-all: #00000013;
    --div-border-btm: #0000002f;



}

.darkMode {
    --left-container-bg: #131e2e;
    --greetings-blue-color: #ffffff;
    --input-container-input: #ffffffd6;
    --input-container-input-focus: #8a8a8a76;
    --left-data-box-color: #d4d3d3;
    --my-date-color: rgba(232, 232, 232, 0.5);
    --right-side-bg-color: #0b131e;
    --right-containers-bg-color: #263245;
    --forecast-box-color: #ffffffaf;
    --highlight-box-color: #ffffff;
    --inside-info-boxes-right-side-all: #1e2838;
    --div-border-btm: #f6e6e62f;

}

/* body {
    background-color: #212121;
} */

main {
    width: auto;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-sizing: border-box;
    overflow-x: hidden;
}

.left-container {
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    flex-flow: column wrap;
    padding: 13px;
    box-sizing: border-box;
    gap: 3vh;
    font-family: "Kanchenjunga", sans-serif;
    font-style: normal;
    background-color: var(--left-container-bg);
}

.greetings {
    width: 100%;
    display: flex;
    font-size: 15px;
    justify-content: flex-start;
    align-items: center;
    gap: 1vw;
    font-family: "Ubuntu", sans-serif;
    font-style: normal;
    color: var(--greetings-blue-color);
    letter-spacing: 1px;
}

.greetings img {
    border-radius: 50%;
    transition: ease-in-out 300ms;
}

.greetings img:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.input-container {
    width: 100%;
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vw;
}
#sun{
    display: none;
}
.input-container input {
    border-radius: 20px;
    padding: 18px;
    width: 60%;
    height: 3rem;
    border: none;
    outline: none;
    background-color: var(--input-container-input);
    letter-spacing: 1px;
    transition: ease-in-out 500ms;
}

.input-container input:focus {
    border: 1px solid var(--input-container-input-focus);
    width: 80%;
    transition-duration: 500ms;
    letter-spacing: 2px;
}

.input-container span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 100%;
    border-radius: 50%;
    background-color: var(--input-container-input);
}

.input-container img:hover {
    cursor: pointer;
    transform: rotateY(180deg);
    transition-duration: 500ms;
}

.input-container img {
    padding: 10px;
    width: 24px;
    height: 24px;
    transition: ease-in-out 500ms;
    opacity: 50%;
}

.left-center-img-container {
    width: 100%;
    height: 29vh;
}

.left-center-img-container img {
    width: inherit;
    height: inherit;
    border-radius: 50%;
}

.left-data-box {
    height: 18vh;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
    justify-content: space-evenly;
    color: var(--left-data-box-color);
    border-bottom: 1px solid var(--div-border-btm);
    font-weight: 600;
}

.inside-data-temp {
    font-size: 45px;

}

.inside-data-day {
    font-size: 20px;
}

.my-date {
    color: var(--my-date-color);
}

.left-weather-description {
    display: flex;
    flex-flow: column nowrap;
    gap: 1vh;
    height: 10vh;
    width: 100%;
    box-sizing: border-box;
    text-align: start;
    margin-bottom: 10px;
    font-size: 16px;
    letter-spacing: 1.5px;
    animation: fadeIn 1s;
    color: var(--highlight-box-color);
}

.left-weather-description img {
    width: 38px;
    height: 38px;
}

.w-description-container,
.feels-like-container,
.address-container {
    align-items: center;
    display: flex;
    gap: 1.3vw;
}

.preference-box {
    margin-top: 4vh;
    display: flex;
    justify-content: flex-start;
    gap: 3vw;
    align-items: center;
}

.preference-box li {
    list-style: none;
}

.preference-box img {
    transition: ease-in-out 200ms;

}

.preference-box img:hover {
    cursor: pointer;
    transform: scale(1.2);
    transition-duration: 200ms;
}

.w-description-container>span {
    display: flex;
    justify-content: center;
    align-items: center;
}


.right-container {
    background-color: var(--right-side-bg-color);
    width: 100%;
    height: 100%;
    /* border: 2px solid rgba(140, 255, 0, 0.484); */
    overflow: scroll;
    padding: 8px;
    display: flex;
    flex-flow: column nowrap;
    gap: 2vh;

}

.highlight-box {
    position: relative;
    /* width: 100%; */
    min-height: fit-content;
    padding: 10px;
    border-radius: 30px;
    background-color: var(--right-containers-bg-color);
    font-family: "Kanchenjunga", sans-serif;
    font-size: 15px;
    color: var(--highlight-box-color);
}

.forecast-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    animation: stretch 4s;
}

@keyframes stretch {
    from {
        height: 0;
    }

    to {
        height: fit-content;
    }
}

.forecast-box {
    width: 45%;
    min-height: fit-content;
    padding: 10px;
    border-radius: 30px;
    background-color: var(--right-containers-bg-color);
    display: grid;
    grid-template-rows: repeat(1fr);
    font-family: "Ubuntu", sans-serif;
    color: var(--forecast-box-color);
}

.days,
.cities {
    background-color: var(--inside-info-boxes-right-side-all);
    border-radius: 12px;
    box-sizing: border-box;
    padding-right: 8px;
    height: 9vh;
    margin: 1vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.days img,
.cities img {
    width: 40px;
    height: 40px;
}

.highlight-text {
    padding: 12px;
    letter-spacing: 1px;
    border-bottom: 1px solid var(--div-border-btm);
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    opacity: 90%;
}

.highlights {
    display: grid;
    grid-template-columns: 2fr 1fr;
    height: inherit;
}

.left-highlight {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.left-highlight span,
.right-highlight span {
    display: flex;
    flex-flow: column nowrap;
}

.right-highlight {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
}

.firstHighlight,
.secondHighlight,
.thirdHighlight,
.fourthHighlight,
.sunrise-box,
.sunset-box {
    min-width: 45%;
    background-color: var(--inside-info-boxes-right-side-all);
    border-radius: 20px;
    box-sizing: border-box;
    padding-right: 8px;
    height: 12vh;
    margin: 8px;
    text-align: end;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.highlightIcon img {
    width: 58px;
    height: 58px;
}

.highlightIcon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.status {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
}

/*----------------------------------------- POP UPs ------------------------------------- */
.getUserName {
    overflow: hidden;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: #5050528a;
    /* background-color: #000000ec; */
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 10;
    animation: leftToRight 1000ms;
    box-shadow: 0px 10px 12px 12px #ffffff;
}

.name-popup {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-flow: column wrap;
    position: relative;
    width: 30%;
    height: 70%;
    background-color: #ffffff;
    border-radius: 30px;
    animation: fadeIn 3s;
}

@keyframes leftToRight {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@keyframes fadeIn {
    from {
        filter: opacity(0%);
    }

    to {
        filter: opacity(100%);
    }
}

#close-icon-user-section, #close-icon-message-box {
    position: absolute;
    right: 1.5vw;
    top: 2vh;
    transition: ease-in-out 330ms;
}

#close-icon-user-section:hover {
    rotate: 10deg;
    transition-duration: 330ms;
    cursor: pointer;
}

.user-profile-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.user-profile-image img {

    width: inherit;
    height: inherit;
    border-radius: 50%;
}

form {
    text-align: start;
    position: relative;
    display: flex;
    justify-content: center;
    gap: 8px;
    flex-flow: column nowrap;
    width: 80%;
    height: 50%;
    color: #000000ad;
}

form input[type='text'],
form input[type='search'],
button {
    width: 100%;
    height: 20%;
    padding: 10px;
    box-sizing: border-box;
    border: none;
    outline: none;
    background-color: #6060601b;
    border-radius: 10px;
}

form input[type='text']:focus,
form input[type='search']:focus {
    border: 1px solid #5D8AA8;
}

form input[type="checkbox"] {
    width: 18px;
    height: 18px;
}

form button {
    background-color: #008080;
    transition: ease-in-out 300ms;
}

form button:hover {
    cursor: pointer;
    background-color: #008080ca;
    transition-duration: 300ms;
}

#remove-data {
    color: rgb(178, 45, 45);
}

#remove-data:hover {
    cursor: pointer;
}

.resp-not-ok{
    display: none;
    font-family: "Ubuntu", sans-serif;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border: 1px solid;
    background-color: #00000053;
}
.message-box{
    text-align: center;
    padding: 10px;
    position: relative;
    width: 50vw;
    height: 50vh;
    border-radius: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: column nowrap;
    background-color: var(--left-container-bg);
}
.error-title{
    color: rgb(209, 42, 42);
    letter-spacing: 2px;
    font-size: 2rem;
    font-weight: 500;
}
#try-again{
    font-family: "Ubuntu", sans-serif;
    letter-spacing: 1px;
    background-color: var(--right-containers-bg-color);
    width: 40vw;
    height: 8vh;
}
#try-again:hover{
    cursor: pointer;
    background-color: #008080;
    color: #ffffff;
}
.error-message{
    letter-spacing: 1px;
    color: var(--highlight-box-color);
}