@import url('https://fonts.googleapis.com/css2?family=Kanchenjunga:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Kanchenjunga", sans-serif;
}

/* 
body {
    background-color: #212121;
} */

main {
    width: auto;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-sizing: border-box;
    overflow-x: hidden;
}

.left-container {
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    flex-flow: column wrap;
    padding: 13px;
    box-sizing: border-box;
    gap: 3vh;
}

.greetings {
    width: 100%;
    display: flex;
    font-size: 15px;
    justify-content: flex-start;
    align-items: center;
    gap: 1vw;
    opacity: 60%;
}

.input-container {
    width: 100%;
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vw;
}

.input-container input {
    border-radius: 20px;
    padding: 18px;
    width: 60%;
    height: 3rem;
    border: none;
    outline: none;
    background-color: #dadada76;
    letter-spacing: 1px;
    transition: ease-in-out 500ms;
}

.input-container input:focus {
    border: 1px solid #8a8a8a76;
    width: 80%;
    transition-duration: 500ms;
    letter-spacing: 2px;
}

.input-container span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 100%;
    border-radius: 50%;
    background-color: #dadada76;
}

.input-container img:hover {
    cursor: pointer;
    transform: rotateY(180deg);
    transition-duration: 500ms;
}

.input-container img {
    padding: 10px;
    width: 24px;
    height: 24px;
    transition: ease-in-out 500ms;
    opacity: 50%;
}

.left-center-img-container {
    width: 100%;
    height: 29vh;
}

.left-center-img-container img {
    width: inherit;
    height: inherit;
    border-radius: 50%;
}

.left-data-box {
    height: 18vh;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
    justify-content: space-evenly;
    color: #424040;
    border-bottom: 1px solid rgba(0, 0, 0, 0.219);

}

.inside-data-temp {
    font-size: 45px;

}

.inside-data-day {
    font-size: 20px;
}

.my-date {
    color: rgba(0, 0, 0, 0.5);
}

.left-weather-description {
    display: flex;
    flex-flow: column nowrap;
    gap: 1vh;
    height: 10vh;
    width: 100%;
    box-sizing: border-box;
    text-align: start;
    margin-bottom: 10px;
    font-size: 18px;
    letter-spacing: 1.5px;
}

.left-weather-description img {
    width: 48px;
    height: 48px;
}

.w-description-container,
.feels-like-container,
.address-container {
    align-items: center;
    display: flex;
    gap: 1.3vw;
}

.w-description-container>span {
    display: flex;
    justify-content: center;
    align-items: center;
}


.right-container {
    background-color: #bcbcbc89;
    width: 100%;
    height: 100%;
    /* border: 2px solid rgba(140, 255, 0, 0.484); */
    overflow: scroll;
    padding: 8px;
}

.highlight-box {
    position: relative;
    width: 100%;
    min-height: fit-content;
    /* border: 2px solid; */
    padding: 10px;
    border-radius: 30px;
    background-color: #a1a0a04f;
    /* background-color: #ba2121e6; */
}

.highlight-text {
    padding: 12px;
    letter-spacing: 1px;
    border-bottom: 1px solid #0000002f;
}

.highlights {
    display: grid;
    grid-template-columns: 2fr 1fr;
    height: inherit;
}

.left-highlight {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.left-highlight span,
.right-highlight span {
    display: flex;
    flex-flow: column nowrap;
}

.right-highlight {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
}

.firstHighlight,
.secondHighlight,
.thirdHighlight,
.fourthHighlight,
.sunrise-box,
.sunset-box {
    min-width: 45%;
    background-color: #00000013;
    border-radius: 20px;
    box-sizing: border-box;
    padding-right: 8px;
    height: 12vh;
    margin: 8px;
    text-align: end;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.highlightIcon img {
    width: 58px;
    height: 58px;
}

.highlightIcon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.status {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
}