@import url('https://fonts.googleapis.com/css2?family=Kanchenjunga:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Kanchenjunga", sans-serif;
}

/* 
body {
    background-color: #212121;
} */

main {
    width: auto;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-sizing: border-box;
    overflow-x: hidden;
}

.left-container {
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    flex-flow: column wrap;
    padding: 13px;
    box-sizing: border-box;
    gap: 3vh;
}

.greetings {
    width: 100%;
    display: flex;
    font-size: 15px;
    justify-content: flex-start;
    align-items: center;
    gap: 1vw;
}

.greetings img {
    border-radius: 50%;
    transition: ease-in-out 300ms;
}

.greetings img:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.input-container {
    width: 100%;
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vw;
}

.input-container input {
    border-radius: 20px;
    padding: 18px;
    width: 60%;
    height: 3rem;
    border: none;
    outline: none;
    background-color: #dadada76;
    letter-spacing: 1px;
    transition: ease-in-out 500ms;
}

.input-container input:focus {
    border: 1px solid #8a8a8a76;
    width: 80%;
    transition-duration: 500ms;
    letter-spacing: 2px;
}

.input-container span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 100%;
    border-radius: 50%;
    background-color: #dadada76;
}

.input-container img:hover {
    cursor: pointer;
    transform: rotateY(180deg);
    transition-duration: 500ms;
}

.input-container img {
    padding: 10px;
    width: 24px;
    height: 24px;
    transition: ease-in-out 500ms;
    opacity: 50%;
}

.left-center-img-container {
    width: 100%;
    height: 29vh;
}

.left-center-img-container img {
    width: inherit;
    height: inherit;
    border-radius: 50%;
}

.left-data-box {
    height: 18vh;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
    justify-content: space-evenly;
    color: #424040;
    border-bottom: 1px solid rgba(0, 0, 0, 0.219);

}

.inside-data-temp {
    font-size: 45px;

}

.inside-data-day {
    font-size: 20px;
}

.my-date {
    color: rgba(0, 0, 0, 0.5);
}

.left-weather-description {
    display: flex;
    flex-flow: column nowrap;
    gap: 1vh;
    height: 10vh;
    width: 100%;
    box-sizing: border-box;
    text-align: start;
    margin-bottom: 10px;
    font-size: 18px;
    letter-spacing: 1.5px;
}

.left-weather-description img {
    width: 38px;
    height: 38px;
}

.w-description-container,
.feels-like-container,
.address-container {
    align-items: center;
    display: flex;
    gap: 1.3vw;
}

.w-description-container>span {
    display: flex;
    justify-content: center;
    align-items: center;
}


.right-container {
    background-color: #bcbcbc1e;
    width: 100%;
    height: 100%;
    /* border: 2px solid rgba(140, 255, 0, 0.484); */
    overflow: scroll;
    padding: 8px;
}

.highlight-box {
    position: relative;
    /* width: 100%; */
    min-height: fit-content;
    padding: 10px;
    border-radius: 30px;
    background-color: #a1a0a02b;
    /* background-color: #ba2121e6; */
}

.highlight-text {
    padding: 12px;
    letter-spacing: 1px;
    border-bottom: 1px solid #0000002f;
}

.highlights {
    display: grid;
    grid-template-columns: 2fr 1fr;
    height: inherit;
}

.left-highlight {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.left-highlight span,
.right-highlight span {
    display: flex;
    flex-flow: column nowrap;
}

.right-highlight {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
}

.firstHighlight,
.secondHighlight,
.thirdHighlight,
.fourthHighlight,
.sunrise-box,
.sunset-box {
    min-width: 45%;
    background-color: #00000013;
    border-radius: 20px;
    box-sizing: border-box;
    padding-right: 8px;
    height: 12vh;
    margin: 8px;
    text-align: end;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.highlightIcon img {
    width: 58px;
    height: 58px;
}

.highlightIcon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.status {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
}

/*----------------------------------------- POP UPs ------------------------------------- */
.getUserName {
    overflow: hidden;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: #5050528a;
    /* background-color: #000000ec; */
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 10;
    animation: leftToRight 1000ms;
    box-shadow: 0px 10px 12px 12px #ffffff;
}

.name-popup {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-flow: column wrap;
    position: relative;
    width: 30%;
    height: 70%;
    background-color: #ffffff;
    border-radius: 30px;
    animation: fadeIn 3s;
}

@keyframes leftToRight {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@keyframes fadeIn {
    from {
        filter: opacity(0%);
    }

    to {
        filter: opacity(100%);
    }
}

#close-icon-user-section {
    position: absolute;
    right: 1.5vw;
    top: 2vh;
    opacity: 50%;
    transition: ease-in-out 330ms;
}

#close-icon-user-section:hover {
    rotate: 10deg;
    transition-duration: 330ms;
    cursor: pointer;
}

.user-profile-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.user-profile-image img {

    width: inherit;
    height: inherit;
    border-radius: 50%;
}

form {
    text-align: start;
    position: relative;
    display: flex;
    justify-content: center;
    gap: 8px;
    flex-flow: column nowrap;
    width: 80%;
    height: 50%;
    color: #000000ad;
}

form input[type='text'],
form input[type='search'],
button {
    width: 100%;
    height: 20%;
    padding: 10px;
    box-sizing: border-box;
    border: none;
    outline: none;
    background-color: #6060601b;
    border-radius: 10px;
}

form input[type='text']:focus,
form input[type='search']:focus {
    border: 1px solid #5D8AA8;
}

form input[type="checkbox"] {
    width: 18px;
    height: 18px;
}

form button {
    background-color: #008080;
    transition: ease-in-out 300ms;
}

form button:hover {
    cursor: pointer;
    background-color: #008080ca;
    transition-duration: 300ms;
}

